@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #c0c7ff;
  }

  body {
    margin: 0;
  }

  .banner {
    position: relative;
    height: 50vh;
    background-image: url("./assets/images/blockchain.jpg");  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .form-group input[type=text] {
    @apply py-3 px-5 my-2 mx-0 box-border border-0 border-b-2 border-b-[#a0a0a0] text-base bg-transparent outline-none;
  }